{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>SHOW BOOKS</title>
{% endblock %}

{% block content %}
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">BOOK ID</th>
        <th scope="col">BOOK NAME</th>
        <th scope="col">AUTHOR</th>
        <th scope="col">YEAR</th>
        <th scope="col">PRICE</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
        {% for i in obj %}
      <tr>
        <th scope="row">{{i.Book_id}}</th>
        <td>{{i.Book_name}}</td>
        <td>{{i.Book_author}}</td>
        <td>{{i.Book_publish_year}}</td>
        <td>{{i.Book_price}}</td>
        <td><button class="btn btn-warning btn-lg"><a href="{% url 'updatebookurl' i.id %}">UPDATE</a></button></td>
        <td><button class="btn btn-danger btn-lg"><a href="{% url 'deletebookurl' i.id %}">DELETE</a></button></td>
       {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock %}